.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}

.text1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0d0b0c;
}

.text2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0d0b0c;
}
